$primary: rgb(85, 244, 255);
$secundary: rgb(70, 255, 193);

$white-background-1: rgb(221, 221, 221);
$white-background-2: rgb(180,180,180);
$white-text: rgb(29, 29, 29);

$dark-background-1: rgb(49, 48, 48);
$dark-background-2: rgb(17, 17, 17);
$dark-text: rgb(231, 227, 227);